header {
    background: linear-gradient(135deg, #00aac0 0%, #00af58 100%);
    padding: 15px 25px;
    box-shadow: var(--shadow-md);
    position: sticky;
    top: 0;
    z-index: 100;
}

.container-cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    gap: 30px;
}

/* Hamburger Button */
.btn-hamburger {
    display: none;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
    gap: 5px;
    padding: 5px;
    z-index: 1000;
}

/* .btn-hamburger span {
    width: 24px;
    height: 3px;
    left: 0;    
    background: var(--color-white);
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} */

.btn-hamburger span {
    display: block;
    height: 3px;
    width: 24px;
    background: var(--color-white);
    border-radius: 10px;
    right: 0;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn-hamburger span:nth-child(1) {
    top: 0;
}

.btn-hamburger span:nth-child(2) {
    top: 18px;
}

.btn-hamburger span:nth-child(3) {
    top: 36px;
}

.btn-hamburger.active span {
    background: white;
}

.btn-hamburger.active span:nth-child(1) {
    top: 18px;
    transform: rotate(135deg) scaleX(1.2);
}

.btn-hamburger.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(-30px);
}

.btn-hamburger.active span:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg) scaleX(1.2);
}

/* Mobile Menu */
.menu-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 300px;
    height: 100vh;
    background: var(--color-white);
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
    transition: right 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;
    flex-direction: column;
    padding: 20px 0;
}

.menu-mobile::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s ease;
    pointer-events: none;
}

.menu-mobile.is-open {
    right: 0;
}

.menu-mobile.is-open::before {
    opacity: 1;
    visibility: visible;
}

.mobile-link {
    padding: 16px 24px;
    color: var(--color-black);
    text-decoration: none;
    font-weight: 500;
    transition: backgrond 0.2s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
}

.mobile-link:hover {
    background: rgba(0, 0, 0, 0.5)
}

.login-mobile {
    margin-top: auto;
    background: linear-gradient(135deg, #00aac0 0%, #00af58 100%);
    color: var(--color-white);
    border: none;
    margin: auto 12px 12px;
    text-align: center;
    border-radius: 6px;
}

.login-mobile:hover {
    padding-left: 24px;
}