@import url('./componentes/header/header.css');
@import url('./componentes/header/logo.css');
@import url('./componentes/header/nav.css');

@import url('./componentes/footer/footer.css');
@import url('./componentes/footer/footer.coluna.css');
@import url('./componentes/footer/footer.social.css');
@import url('./componentes/footer/footer.btn.css');

@import url('./feiras/feiras-solo.css');
@import url('./sobre/button.css');
@import url('./sobre/minipagina.css');
@import url('./sobre/animation.css');
@import url('./sobre/overlay.css');


@import url('./base/reset.css');
@import url('./base/variaveis.css');
@import url('./base/globais.css');