/*Configuração das animações do botão*/
@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
        }

@keyframes float {
    0% {
        transform: translate(-50%, -50%) translateY(0);
    }
    50% {
        transform: translate(-50%, -50%) translateY(-10px);
    }
    100% {
        transform: translate(-50%, -50%) translateY(0);
    }
        }