@media (max-width: 700px) {

    .botao-busca {
        position: static; /* Remove absolute */
        right: auto;
        width: 45px;
        height: 45px;
    }
    
    .barra-busca {
        /* position: absolute; */
        right: 17.5%;
        transform: translate(14.5%, -50%);
        top: 50%;
    }

    .barra-busca.is-active {
        width: calc(100vw - 180px);
        max-width: 350px;
    }

    .barra-busca.is-active::before {
        content: '';
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    .botao-fechar {
        right: auto;
    }

    .card-inner {
        min-height: 380px;
        max-height: 380px;
    }
}