@media (max-width: 700px) {

    .overlay-slide h2 {
        font-size: 1.8rem;
    }
    
    .botao-carrossel {
        width: 43px;
        height: 43px;
    }

    .botao-busca {
        position: static; /* Remove absolute */
        right: auto;
        width: 45px;
        height: 45px;
    }
    
    .barra-busca {
        right: 18.5%;
        transform: translate(14.5%, -50%);
        top: 50%;
    }

    .barra-busca.is-active {
        width: calc(100vw - 180px);
        max-width: 300px;
    }

    .barra-busca.is-active::before {
        content: '';
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    .botao-fechar {
        right: auto;
    }

    .card-inner {
        min-height: 380px;
        max-height: 380px;
    }

    .card-colecao img {
        width: 100%;
        height: 230px;
        object-fit: fill;
        transition: all 0.4s ease;
    }

    .conteudo-card {
        padding: 15px;
    }

    .titulo-card {
        font-size: 1rem;
    }
    
    .descricao-card {
        font-size: 0.8rem;
    }
}