/* @media (max-width: 375px) {
    .carrossel {
        height: 250px;
    }
    
    .overlay-slide h2 {
        font-size: 1.3rem;
    }
    
    .card-inner {
        min-height: 260px;
        max-height: 260px;
    }
    
    .container-adiciona-projeto h2 {
        font-size: 1.3rem;
    }
} */


@media (max-width: 375px) {
    .carrossel { height: 250px; }
    .overlay-slide h2 { font-size: 1.3rem; }
    .card-inner { min-height: 260px; }
    .container-adiciona-projeto h2 { font-size: 1.3rem; }
}